altgraph==0.17
aniso8601==9.0.1
argh==0.26.2
attrs==21.2.0
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
cryptography==3.4.7
cycler==0.10.0
dpcpp-cpp-rt==2021.3.0
Flask==1.1.2
flask-restplus==0.13.0
Flask-Script==2.0.6
future==0.18.2
idna==3.2
importlib-metadata==3.10.0
intel-cmplr-lib-rt==2021.3.0
intel-cmplr-lic-rt==2021.3.0
intel-opencl-rt==2021.3.0
intel-openmp==2021.3.0
itsdangerous==2.0.1
Jinja2==3.0.0
joblib==1.0.1
jsonschema==3.2.0
kiwisolver==1.3.1
MarkupSafe==2.0.1
matplotlib==3.3.4
mkl==2021.3.0
mkl-fft==1.3.0
mkl-random==1.2.2
mkl-service==2.4.0
numpy==1.20.2
olefile==0.46
packaging==21.0
pandas==1.2.4
pefile==2021.5.24
Pillow==8.2.0
pycparser==2.20
pyinstaller==4.4
pyinstaller-hooks-contrib==2021.2
PyMySQL==1.0.2
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyrsistent==0.18.0
python-dateutil==2.8.1
pytz==2021.1
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.26.0
scikit-learn==0.24.2
scipy==1.6.2
seaborn==0.11.1
sip==5.4.0
six==1.16.0
tbb==2021.3.0
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.1
urllib3==1.26.6
Werkzeug==1.0.1
wincertstore==0.2
xgboost==1.4.2
zipp==3.4.1
